<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de diseño</title>
</head>
<body>
    <h1>Coordenadas</h1>
    <h1>Latitud: <span id="lat"><%= lat %></span></h3>
    <h1>Longitud: <span id="long"><%= long %></span></h3>
    <h1>Fecha:<span id="date"><%= date %></span></h3>
    <h1>Hora:<span id="time"><%= time %></span></h3>
    <script src="/connection.js"></script>
</body>


</html> 