<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
    crossorigin=""/>
    <link rel="stylesheet" type="text/css" href="estilo.css"/>
    <title>Pagina historicos</title>
</head>
<body>
    <div class="Header">
       
        <a href=""><img src="/logo.png"  id="logo" alt=""></a>
        
        <h1 id="tipag">LOCATION GPS</h1>
        
    </div>
    <div class="mapa">
        <h1>Ruta recorrida por vehiculo</h1>
        <div id="map"></div>
    </div>
    <div class="mapa">

        <h1> Vista históricos</h1>
        <button onclick="historico()">MOSTRAR</button>
        <label for="start">Start date:</label>
        <input type="datetime-local" id="start" name="trip-start" value="" min="" max="">
        <label for="end">End date:</label>
        <input type="datetime-local" id="end" name="trip-end" value="" min="" max=""> 

    </div>

    <div class="connect">

        <h1> </h1>
        <button onclick="window.location.href='/'">Volver a la página principal</button>

    </div>

    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
    crossorigin=""></script>
    <script src="iniciomapa.js"></script>
    <script>
        const startDateInput = document.querySelector('#start');
        const endDateInput = document.querySelector('#end');
        startDateInput.addEventListener('input', () => {
          endDateInput.min = startDateInput.value;
          if (new Date(endDateInput.value).getTime() < new Date(startDateInput.value).getTime()) {
            endDateInput.value = startDateInput.value;
          }
        });
    </script>
      

    <script>
        const startDatePicker = document.getElementById("start");
        const endDatePicker = document.getElementById("end");
        const fechaHoy = new Date();
        const timeZoneOffset = -5 * 60; // 5 horas menos que GMT
        fechaHoy.setTime(fechaHoy.getTime() + timeZoneOffset * 60 * 1000);
        const anio = fechaHoy.getFullYear();
        const mes = fechaHoy.getMonth() + 1; // Sumamos 1 porque los meses van de 0 a 11
        const dia = fechaHoy.getDate();
        const fechaActual = `${anio}-${mes.toString().padStart(2, '0')}-${dia.toString().padStart(2, '0')}`;
        console.log("Today in Colombia: ", fechaActual);
        startDatePicker.setAttribute("max", fechaActual);
        endDatePicker.setAttribute("max", fechaActual);

    </script>

</body>
</html>