<!DOCTYPE html>
<html>
  <head>
    <title>Resultados</title>
  </head>
  <body>
    <h1>Resultados</h1>
    <p>Fecha y hora inicial seleccionada: <%= fechaInicial %></p>
    <p>Fecha y hora final seleccionada: <%= fechaFinal %></p>

    app.get('/resultados', (req, res) => {
        res.render('resultados', {
          fechaInicial: fechaInicialSeleccionada,
          fechaFinal: fechaFinalSeleccionada
        });
      });
      
  </body>
</html>
