body {
  background-image: url(/BACK.jpg) ;
}

.contenerdor{
  width: 100%;
  margin:0 auto;
}

#map {
  margin-top: 0%;
  height: 90vh;
  width: 100%;
  justify-content: center;
  margin-left: 20%;

}
.Header{
  text-align: center;
  background-color: rgba(15, 69, 12,0.5);
  display: flex;
  color: white;
  width: 100%;
  justify-content: space-between;

}
.tipag{
  text-align: center;
  font-size: 70%;
  margin-left: 8%;
  width: 100%;
  
  
}
.logo  {
  text-align: center;
  width: 100%;
  height: 100%;
  margin-left: 100%;
  margin-top: 100%;

}
.Header .coord{
  
  background-color: rgba(44, 158, 38, 0.5);
  width: 100%;
  font-size: 100%;
  justify-content: space-between;
}
.Header .coord .datos{
  text-align: center;
  width: 100%;
  color:black;
  margin-left: 100%;
  justify-content: space-between;
  
}
.tituloc{
  text-align: center;
  width: 100%;
  color: white;
  font-size: 100%;
  font-weight: bold;
  margin-left: 100%;
  
}
.lat{
  color: black;
}
.long{
  color: black;
}
.date{
  color: black;
}
.time{
  color: black;
}


.mapa{
  width: 100%;
  text-align: center;
  font-size: 23%;
  color:white;
  font-weight: bold;
  background-color: grgba(50, 143, 45, 0.5);;
  box-sizing:border-box;
}

@media screen and (max-width:800px) {
  .Header{
    flex-direction: column;
  }
  
}
