body {
  background-image: url(/FONDOGPS.png);
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Titillium Web', sans-serif;
}

.heatmap-scale {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.scale-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-box {
  width: 50px;
  height: 20px;
}

.scale-value {
  margin-top: 5px;
}



.mapa-right h1 {
  background-color: #BEAED3;
  
}

/* Fondo de coordenadas  */
.card-body td.bg-purple {
  background-color: #553184;
    color: white;
} 

.bg-purple {
  background-color: #BEAED3;
  color: rgb(3, 2, 2);
}
.bg-purplee {
  background-color: #553184;
  color: rgb(255, 255, 255);
}

.card.bg-purple .card-header {
  background-color: #553184;
  color: rgb(255, 254, 254);
}

.front-size-nav{
  font-size: 20px;
}

/* Para poder centrar el logo*/
.navbar-brand {
  width: 100%;
}

.navbar-brand img {
  max-width: 150px;
  height: auto;
}
.navbar {
  padding: 0 20px;
}

/* Para configurar mapa */
#map {
  z-index: 0;
  height: 90vh;
  margin: 0 10px;
  justify-content: center;
  align-self: center;
}

/* Haciendo la redirección a históricos*/
#redhistoricos{
  background-color: #BEAED3;
  padding: 50px 0 30x 0;
  text-align: center;
  margin-top: 40px;
}
.tamano-coords{
  font-size: 19px;
}
.Header{
  display: flex;
  color: white;
  width: 100%;
  flex-wrap: wrap;
  }
  .Header1{
    display: flex;
    color: white;
    width: 100%;
    flex-wrap: wrap;
    }
  
  .Logo-box{
  width: 50%;
  

  }
  
  .Logo-box img{
  max-width: 100%;
  height: auto;
  }
.Tittle.box{
  width: 50%;
  overflow: hidden;
  
}
#tipag{
  font-size: 70px;
  margin-left: 8%;
  width: 100%;
  
  
}
.logo  {
  text-align: center;
  margin-top: 23%;
  
}
#logo  {
  height: auto;
  margin-left: 5%;
  margin-top: 5%;
  
}
.coord{
  width: 100%;
  
}

.Header .coord{
  font-size: 15px;
  margin-left: auto;
  
  
}
.Header .coord .datos{
  text-align: center;
  width: 100%;
  color:black;
  margin-left: 10px;
  margin-top: 30px;
  
}

#tituloc{
  color: white;
  font-size: 100%;
  font-weight: bold;
  margin-left: 10px;
  
  
  
}
.lat{
  color: black;
}
.long{
  color: black;
}
.date{
  color: black;
}
.time{
  color: black;
}

.mapadata {
  width: 100%;


}
.container-map {
  position: relative;
}
.data {
  width: 35%;
  float:left;
}

.mapa{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 23%;
  color:white;
  font-weight: bold;
  width: 100%;
  float:right;
  height: 100%;

}

.selected-info {
  z-index: 1;
  position: absolute;
  background-color: white;
  border-radius: 30px;
  padding: 1rem;
  color: black;
  top: 15px;
  right: 25px;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.274));
  font-size: small;
}

.selected-info label{
  display: inline-flex;
}

.selected-info p{
  margin: 0;
}

.connect{
  text-align: center;
  font-size: 23px;
  color:white;
  font-weight: bold;
}

@media screen and (max-width: 800px){
  .Logo-box, .Tittle-box, .coord {
    width: 100%;
}
}


@media screen and (max-width: 400px){
  .Contenedor{
    width: 100%;
  }
  
  .Logo-box, .Tittle-box, .coord {
    width: 100%;
}
#tipag {
  font-size: 50px;
  text-align:left;
  margin-top: 20px;
}

#tituloc {
  font-size: 25px;
  margin-bottom: 10px;
}

.datos {
  font-size: 18px;
}

#logo {
  height: 100px;
  margin: 10px auto;
  display: block;
}
#map {
  width: 100%;
  height: 400px;
  display: flex;
}

}

